#top_menu { min-width:1260px; }

#top_menu_line { width:1258px; }

#top_menu_content {	width:1258px; }

#top_menu_line1 { width:128px; }

#top_menu_line2 { width: 160px; }

#top_menu_line3 { width: 104px; }

#top_menu_line4 { width: 112px; }

#top_menu_line5 { width: 144px; }

#top_menu_line6 { width: 118px; }

#top_menu_line7 { width: 128px; }

#top_menu_line8 { width: 130px; }

#top_menu_line9 { width: 120px; }

#top_menu_line10 { width: 94px; }

#top_menu1 { width: 130px; }

#top_menu2 { width: 162px; }

#top_menu3 { width: 106px; }

#top_menu4 { width: 114px; }

#top_menu5 { width: 146px; }

#top_menu6 { width: 120px; }

#top_menu7 { width: 130px; }

#top_menu8 { width: 132px; }

#top_menu9 { width: 122px; }

#top_menu10 { width: 96px; }

#info_line { width:980px; }

#menu { width:1260px; }

ul.menu_main { width: 1000px; }

#content { width: 1020px; }

#headline_block { width: 1260px; }

#main { width:1260px ;}

.object { margin: 0 13px 30px 0;}

#registration { margin:46px 0 0 0; }

#subfooter_top { min-width: 1260px; }

#subfooter_bottom { min-width: 1260px; }

#footer_top { width: 1260px; }

#footer_bottom { width: 1260px; }

#footer_title { width: 1260px; }

#footer_bottom ul.footer_menu { margin: 0 25px 0 0; }
			
#social_block { width: 429px; }		
			
#social_block div#search { clear: left; margin-left: 0; }

#social_block div#copyright { margin-left: 100px;  padding-top: 0; }

#content_news { width: 980px; padding-left: 50px }

#line_month { height: 45px; }
			
#line_month ul.month { top: 13px; }		
			
.vacancy_details { width: 730px; }			
			
.index_gallery { width:810px; background: url(images/gallery/banner_border.png) no-repeat }
			
.images div img { width: 800px; height:319px;}

.ceo_letter	{ width: 215px; }		
			
.slidetabs { left: 600px; }

.forward { left:765px; }
			
#ind_object_block { width: 825px; }		
			
#specobjects { width: 825px; }

.specobj { margin-right: 30px; }		
			
.black_search_wrap { width: 797px; }

.black_search_form { width: 799px; }

.images div	{ top: 0; left:0; }	
			
.text_quote	{ width: 680px; }		
			
.right_ind_info_block { width:435px; margin: 20px 0 0 25px; }
			
#bl_ind_right { left:225px; }		
			
.h1name { font-size: 66px; }	

#left_side_bar { width: 225px; }	

#content_vacancy {
	width:980px;
	padding-left: 50px
}

/*.office_side_info {
	height:95px; 
	width:770px; 
	margin:0 0 20px 0;
	padding:30px 20px 10px 20px;
	float:left;
}
	
.office_num_mail_block {
	width:189px;
	height:115px;
	margin-right: 15px;
	float:left;
}
	
.office_bl_info {
	margin:0 20px 0 0;
}

#office_gallery {
	margin:0 auto;
	float:none;
}

.director980 {
	padding-bottom: 20px;
}

.managers_direction {
	width:700px;
	height:100px;
}

.directions_title {
	padding:10px 0 25px 25px;
}

.direction_name {
	margin:8px 0 0 0;
	text-align: left;
}

.manager_photo {
	margin:0;
}

.office_map {
	width: 743px;
}

.office_bottom .bottom_menu {
	width:480px;
}
*/