
.index_gallery {
	width:810px;
	height:335px;
	background: url(../images/gallery/banner_border.png) no-repeat;
	float:left;
	position:relative;
}

.images {
	width:800px;
	height:319px;
}


/* single slide */
.images div {
	z-index: 0;
    display:none;
    position:absolute;
    top:0;
    left:0;
}

/* tabs (those little circles below slides) */
.slidetabs {
	/*z-index: 100000;*/
	overflow:hidden;
	height: 20px;
    position:absolute;
    top:290px;
    left:600px;
}

/* single tab */
.slidetabs a {
    width:10px;
    height:10px;
    float:left;
    margin:3px;
    background:url(../images/gallery/banner_off.png) 0 0 no-repeat;
    display:block;
    font-size:1px;
}

/* active state (current page state) */
.slidetabs a.current {
	margin:3px;
    background:url(../images/gallery/banner_on.png) 0 0 no-repeat;
}

/* prev and next buttons */
.forward {
   /* z-index: 100000;*/
    overflow: visible;
    background:url(../images/gallery/arrow_r.png) no-repeat;
    display:block;
    width:19px;
    height:31px;
    cursor:pointer;
    font-size:1px;
    position: absolute;
    top:140px;
    left:765px;
}

.backward {
    /*z-index: 100000;*/
    overflow: visible;
    background:url(../images/gallery/arrow_l.png) no-repeat;
    display:block;
    width:19px;
    height:31px;
    cursor:pointer;
    font-size:1px;
    position: absolute;
    top:140px;
    left:15px;
}