/* Container */
.dk_theme_obj .dk_container {
	background:none;
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	margin:8px 0 18px 15px;
}
 	.dk_theme_obj a {
 	cursor: pointer;
    text-decoration: none;
    border-bottom:2px dashed #4888c2;
 	}

/* Toggle */
.dk_theme_obj .dk_toggle {
	border: 1px solid #F3F3F3;
	color: #4888c2;
	padding: 7px 7px 7px 0;
	width:auto !important;
}
 	.dk_theme_obj .dk_toggle:hover {}

/* Focus State */
.dk_theme_obj.dk_focus,
.dk_theme_obj:focus { outline: 0; }
 	.dk_theme_obj.dk_focus .dk_toggle {
	 	border: 1px solid #F3F3F3;
		color: #4888c2;
		padding: 7px 7px 7px 0;
		width:auto !important;
 	}
  
/* Open State */
.dk_theme_obj.dk_open { z-index: 10; }
 	.dk_theme_obj.dk_open .dk_toggle {
 	background-color: #fff;
    border-color:#F3F3F3;
    color: #4888c2;
 	}

/* Options Menu */
.dk_theme_obj .dk_options { 
	display: none;
	margin-top: -1px;
	position: absolute;
	right: 0;
	width: 100%;
}
	.dk_theme_obj .dk_options a {
		background-color: #fff;
		border-bottom: 1px solid #fff;
		font-size: 15px;
		font-weight: bold;
		padding: 8px 10px;
		color:#4888c2;
}
	.dk_theme_obj .dk_options a:hover,
	.dk_theme_obj .dk_option_current a {
		background-color: #fff;
		border-bottom-color: #fff;
		color: #4888c2;
		text-decoration: none;
	}

/* Inner options */
.dk_theme_obj .dk_options_inner {
	border: 1px solid #fff;
	border-bottom-width: 2px;
	border-bottom-color: #fff;
	color: #4888c2;
	max-height: 250px;
}

/* Set a width property here */
.dk_theme_obj .dk_options_inner,
.dk_theme_obj.dk_touch .dk_options {
	max-height: 250px;
}