.bg_zn {
	background:#8eb129 url(../images/zn/zn.png) no-repeat right;
}

.h1home {
	letter-spacing:-5px;
}

/*#headline_block ul.useful_info_nav li {
	border-bottom: 1px solid #e5b176;
}*/

.flags_col {
	width:111px;
	height:128px;
	top:22px;
}

.flag_st {
	width:111px;
	height: 35px;
	margin-top: 7px;
}

#headline_block ul.useful_info_nav li:hover {
	background: #bedc69;
}

#headline_block ul.useful_info_nav {
	background:#8eb129;
}

.object .photo {
	padding:17px 20px 0 20px;
}

.description {
	background:url(../images/domiki_fon.png);
	height:175px;
}

input.choice_make {
	background:url(../images/zn/choice_zn_but.png) repeat-x;
}

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; background:url(../images/zn/slider_progress.png) repeat-x; }

.sub_home {
	border:1px solid #8eb129;
	background:url(../images/zn/quiz_submit_zn.png);
}

.choice_form {
	padding-top: 5px;
	width:239px;
}

.checkboxes {
	width:210px;
	margin:5px auto 15px auto;
}

#checkboxes_zn label.home_check {
	margin:0 7px 0 3px;
}

#table_object .table_block4 {
	background:#c6e179;
}

#table_object {
	background: #e3f2b9;
}

#table_object .table_block4 a {
	color:#333536;
	border-bottom:1px dashed #333536;
}

.left_border_but {
	width:3px;
	height: 37px;
	float:left;
	background: url(../images/zn/lb_but.png) no-repeat;
}

.link_zn_but {
	display:block;
	font-family:DINCyr-Bold;
	width:185px;
	height:37px;
	float:left;
	background: url(../images/zn/but_bg.png) repeat-x;
}

.link_zn_but a {
	display: block;
	width:185px;
	height:37px;
	font-size: 18px;
	color:#fff;
	padding:10px 0 0 10px;
}

.right_border_but {
	width:3px;
	height: 37px;
	float:left;
	background: url(../images/zn/rb_but.png) no-repeat;
}

span.zn_price {
	color:#8eb129;
	margin:0 10px;
}